
@white       : #FFF;
@black       : #666;
@orange      : #F08D6E;
@green       : #4BC383;
@yellow      : #FFCB05;
@blue        : #3D7DCA;
@navy-blue   : #003A70;

&.c-white		{ color: @white !important }
&.c-black		{ color: @black !important }
&.c-orange		{ color: @orange !important }
&.c-green		{ color: @green !important }
&.c-yellow		{ color: @yellow !important }
&.c-blue		{ color: @blue !important }
&.c-navy-blue   { color: @navy-blue !important }

// Escalas de cinza
// ----------------
@black-10:  darken(#FFF, 10%); /* #E6E6E6; */
@black-20:  darken(#FFF, 20%); /* #CCC; */
@black-30:  darken(#FFF, 30%); /* #B3B3B3; */
@black-40:  darken(#FFF, 40%); /* #999999; */
@black-50:  darken(#FFF, 50%); /* #808080; */
@black-60:  darken(#FFF, 60%); /* #666666; */
@black-70:  darken(#FFF, 70%); /* #4D4D4D; */
@black-80:  darken(#FFF, 80%); /* #333333; */
@black-90:  darken(#FFF, 90%); /* #191919; */

&.c-black-10 { color: @black-10 !important }
&.c-black-20 { color: @black-20 !important }
&.c-black-30 { color: @black-30 !important }
&.c-black-40 { color: @black-40 !important }
&.c-black-50 { color: @black-50 !important }
&.c-black-60 { color: @black-60 !important }
&.c-black-70 { color: @black-70 !important }
&.c-black-80 { color: @black-80 !important }
&.c-black-90 { color: @black-90 !important }